.articles {
    padding: 2rem 4rem;
    margin: 1rem;
    border-radius: .5rem;
    flex-grow: 1;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
    min-height: 40vh;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px  #eee;
    justify-content: center;
}

.articles:hover {
    box-shadow: 0 0 23px #eee;
}